body
    background : #fff
    width      : 920px
    margin     : 0 auto


.boooths
    width  : 920px
    margin : 0 auto

    .boooth_thumbnail
        width      : 200px
        margin     : 10px
        padding    : 4px
        float      : left
        box-shadow : 1px 2px 20px 1px #d3d3d3;
        border     : 1px solid #ddd;

        img
            width   : 100%
            display : block
