@import '_partials/_colors'
@import '_views/_menu'
@import '_views/_boooth_list'
@import '_views/_boooth_detail'
@import '_views/_camera'

body
    background : $light_white
    width      : 1024px
    margin     : 0 auto

.noscroll
    overflow: hidden

header
    margin      : 40px
    font-family : 'Londrina Sketch', cursive
    font-size   : 6em
    font-weight : bold
    text-align  : center
    color       : rgba($dark_pink, 1)
