$boooth_thumbs_per_row      : 3
$boooth_thumb_width         : 300
$boooth_thumb_margin        : 15
$boooth_thumb_gallery_width : $boooth_thumbs_per_row     * ($boooth_thumb_width + 2 * $boooth_thumb_margin)

.boooths
    width  : #{$boooth_thumb_gallery_width}px
    margin : 0 auto

    @media screen and (max-width: $small_screen)
        width : 100%

    .boooth_thumbnail
        width       : #{$boooth_thumb_width}px
        margin      : #{$boooth_thumb_margin}px
        float       : left
        font-family : "Verdana", sans-serif

        @media screen and (max-width: $small_screen)
            width         : auto
            right         : 0
            margin-bottom : 0

        &.display
            opacity : 1

        &.hide
            opacity : 0.3

        &:before, &:after
            transition : all 0.3s
            position   : absolute
            opacity    : 0

        &:before
            content    : attr(data-content)
            width      : 100%
            margin     : 0
            color      : $light_white
            z-index    : 1
            bottom     : 30px
            text-align : center

            @media screen and (max-width: $small_screen)
                width        : auto
                margin-left  : #{$boooth_thumb_margin}px
                margin-right : #{$boooth_thumb_margin}px
                opacity      : 1
                text-align   : left

        &:after
            content    : '\A'
            width      : 100%
            height     : 100%
            top        : 0
            left       : 0
            background : rgba($light_purple, 0.7)

            @media screen and (max-width: $small_screen)
                opacity : 0.5

        &:hover:before, &:hover:after
            opacity : 1

        img
            width   : 100%
            display : inline-block


.boooths_loading_spinner
    bottom       : 10%
    left      : 50%
    position  : fixed
    transform : translate(-50%, 0%)
    color     : $light_purple
    z-index   : 12


.all_loaded
    width       : 400px
    margin      : 0 auto
    display     : block
    text-align  : center
    font-family : "Verdana", sans-serif
    font-size   : 2em
    color       : $light_purple

    &:before, &:after
        content        : ''
        width          : 150px
        height         : 1px
        background     : $light_purple
        display        : inline-block
        vertical-align : middle

    &:before
        margin-right : 20px

    &:after
        margin-left : 20px